*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/misc.xml
.idea/dictionaries
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/history
*.apk
# 这样可以只忽略当前文件夹下的 json 文件，而不是全局任意地方的
/*.json
local_repo
local_repo/com/engineer/third/thirdlib/*_DEBUG
local_repo/com/engineer/third/thirdlib/*.xml
local_repo/com/engineer/third/thirdlib/*.xml.*
/.idea/markdown-navigator.xml
/.idea/markdown-navigator-enh.xml
/.idea/copilot/chatSessions/00000000000.xd
/.idea/copilot/chatSessions/blobs/version
/.idea/copilot/chatSessions/xd.lck
url.json