<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.engineer.other.permission.open"
        android:protectionLevel="normal" />

    <queries>
        <package android:name="com.engineer.android.mini" />
    </queries>

    <uses-permission android:name="mini.info.permission.READ_INFO" />
    <uses-permission android:name="mini.info.permission.WRITE_INFO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniApp">

        <provider
            android:name=".ipc.OtherContentProvider"
            android:authorities="com.engineer.other.provider"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".OtherMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".skip.SkipActivity" />
        <activity
            android:name=".ui.FakePureUiActivity"
            android:allowTaskReparenting="true"
            android:taskAffinity="com.engineer.android.mini" />
        <activity
            android:name=".ui.FakeOldWayActivity"
            android:allowTaskReparenting="true"
            android:launchMode="singleTop"
            android:taskAffinity="com.engineer.same.task" />
        <activity android:name=".ui.EmptyActivity" />
        <activity
            android:name=".ui.OpenByOtherActivity"
            android:exported="true"
            android:permission="com.engineer.other.permission.open">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data
                    android:host="easy_link"
                    android:scheme="phoenix" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".skip.SkipService"
            android:exported="true"
            android:label="Automaticskip"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        <service
            android:name=".service.MyBackgroundService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.engineer.other.custom_background_service" />

                <data
                    android:host="*"
                    android:scheme="*" />
            </intent-filter>
        </service>
    </application>

</manifest>