<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="mini.info.permission.READ_INFO"
        android:protectionLevel="signature" />
    <permission
        android:name="mini.info.permission.WRITE_INFO"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.engineer.other.permission.open" />
    <uses-permission android:name="Manifest.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.engineer.other" />
    </queries>

    <application
        android:name=".MinApp"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.behavior.LinkActivity"
            android:exported="true">
            <intent-filter android:priority="1000">

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="github.com"/>
                <data android:pathPrefix="/google/"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.pure.CropActivity"
            android:exported="true" />
        <activity
            android:name=".ui.behavior.ReceiveProcessTextActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.pure.GifPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pure.CornerViewActivity"
            android:exported="true" />
        <activity
            android:name=".ui.tabs.ui.TabsActivity"
            android:exported="true" />

        <receiver
            android:name=".ui.behavior.MiniReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.mini.receiver" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.pure.ChangeViewActivity"
            android:exported="true" />
        <activity
            android:name=".ui.behavior.TreeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.behavior.FishActivity"
            android:exported="true" />
        <activity
            android:name=".ui.MD3Activity"
            android:exported="true"
            android:label="@string/title_activity_md3"
            android:theme="@style/Theme.M3" />
        <activity
            android:name=".ui.behavior.WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".ipc.aidl.AIDLDemoActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ForceBottomActivity"
            android:exported="true" />
        <activity
            android:name=".ui.pure.DuDuActivity"
            android:exported="true" />
        <activity
            android:name=".ui.pure.LandscapeActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".RootActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.pure.MessyActivity"
            android:exported="true" />
        <activity
            android:name=".ui.pure.SwitchViewActivity"
            android:exported="true" />
        <activity
            android:name=".better.bitmap.LargeBitmapActivity"
            android:exported="true" />
        <activity
            android:name=".better.BetterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.behavior.BroadcastPage"
            android:exported="true" />

        <service
            android:name=".ipc.aidl.BookManagerService"
            android:enabled="true"
            android:exported="false"
            android:process=":remoteBook" />

        <activity
            android:name=".ipc.IpcActivity"
            android:exported="true" />

        <service
            android:name=".ipc.messenger.MessengerService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />
        <service
            android:name=".ui.pure.MyScreenSaver"
            android:exported="true"
            android:icon="@drawable/cute"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Point to additional information for this dream (optional) -->
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/my_dream" />
        </service>

        <activity
            android:name=".ui.adapter.RecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".flutter.FlutterRootActivity"
            android:exported="true"
            android:label="@string/title_activity_flutter_root" />
        <activity
            android:name=".ui.pure.LayoutActivity"
            android:exported="true" />
        <activity
            android:name=".ui.pure.EmptyActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".net.RxCacheActivity"
            android:exported="true" />
        <activity
            android:name=".ui.behavior.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".ui.behavior.BehaviorActivity"
            android:exported="true" />
        <activity
            android:name=".ui.pure.PureUIActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="" />
        <activity
            android:name=".coroutines.old.DetailActivity"
            android:exported="true"
            android:taskAffinity="com.engineer.same.task" />
        <activity
            android:name=".ui.pure.CustomViewActivity"
            android:exported="true" />
        <activity
            android:name=".ui.pure.WrapContentActivity"
            android:exported="true" />
        <activity
            android:name=".ui.pure.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".jetpack.FragmentManagerActivity"
            android:exported="true" />
        <activity
            android:name=".ui.behavior.lifecycle.PanelActivity"
            android:exported="${activity_exported}" />
        <activity android:name=".ui.behavior.lifecycle.StandardActivity" />
        <activity android:name=".ui.behavior.lifecycle.ActivityE" />
        <activity android:name=".ui.behavior.lifecycle.ActivityF" />
        <activity
            android:name=".ui.behavior.lifecycle.ActivityG"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/NoBugTheme" />
        <activity
            android:name=".ui.behavior.lifecycle.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.behavior.lifecycle.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.behavior.lifecycle.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.behavior.lifecycle.ActivityC"
            android:theme="@style/TransparentTheme" />
        <activity
            android:name=".ui.behavior.lifecycle.ActivityD"
            android:process="com.engineer.android.mini.remote" />
        <activity
            android:name=".ui.behavior.NotifyActivity"
            android:exported="true" />
        <activity
            android:name=".ui.behavior.DemoDialogActivity"
            android:screenOrientation="sensor"
            android:theme="@style/alertDialogImage" />

        <provider
            android:name=".ui.behavior.provider.MiniContentProvider"
            android:authorities="mini.provider.info.adapter"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="mini.info.permission.READ_INFO"
            android:writePermission="mini.info.permission.WRITE_INFO" />

        <meta-data
            android:name="android.max_aspect"
            android:value="${max_aspect}" /> <!-- just for test replace other config -->
        <activity
            android:name="com.engineer.third.CppActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            tools:node="replace" />

        <activity android:name=".ui.behavior.AudioRecorderActivity" android:exported="true" />
        <activity android:name=".jetpack.work.FilterActivity"/>
        <activity android:name=".jetpack.work.SelectImageActivity"/>
    </application>

</manifest>